<div  class="group-form">
  <h2>Форма додавання групи</h2>
  <fieldset>
    <form>
      <div class="group-form--name">
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>
      <div class="group-form--description">
        <span><img src="assets/images/icon.png"/></span>
        <textarea></textarea>
      </div>
      <div class="group-form--buttons">
        <input type="button" value="ADD"/>
        <input type="button" value="CANCEL"/>
      </div>
    </form>
  </fieldset>
</div>

