<div class="manufacture">
  <!--  <div class="manufacture&#45;&#45;row">-->

  <div class="manufacture--name">
    <span [hidden]="false"><img src="assets/images/icon.png"></span>
    <span [hidden]="false">Ford</span>
    <input [hidden]="true">
  </div>

  <div class="manufacture--info">
    <div class="manufacture--amount">
      <span [hidden]="false"><img src="assets/images/icon.png"></span>
      <span [hidden]="false">45</span>
    </div>

    <div class="manufacture--buttons">
      <input class="" type="button" [hidden]="false" value="Edit">
      <input class="" type="button" [hidden]="false" value="Delete">
      <input class="" type="button" [hidden]="true" value="Agree">
      <input class="" type="button" [hidden]="true" value="Cancel">
    </div>

  </div>


  <!--  </div>-->
</div>


