<!-- ea -->
<div class="manufacture-bar">
  <div class="manufacture-bar-info">
    <div class="manufacture-bar--name icon-with-label">
      <i class="ma-user iconLabel--icon"></i>
      <p class="manufacture-bar--name-label iconLabel--text" [hidden]="false">Name</p>
      <input type="text" [hidden]="true">
    </div>
    <div class="manufacture-bar--amount">
      <i class="ma-amount iconLabel--icon" [hidden]="false"></i>
      <p class="manufacture-bar--amount-label iconLabel--text" [hidden]="false">штуки</p>
    </div>
    <div class="user-bar--buttons">
      <button class="user-bar--buttons-edit button b-aqua icon-button" [hidden]="false">edit</button>
      <button class="user-bar--buttons-agree button b-aqua icon-button" [hidden]="true">Agree</button>
      <button class="user-bar--buttons-delete button b-red icon-button" [hidden]="false">delete</button>
      <button class="user-bar--buttons-cancel button b-red icon-button" [hidden]="true">Cancel</button>
    </div>
  </div>
</div>


