<form class="product-bar">
  <div class="product-bar--info">
    <i class="icon"></i>
    <p class="product-bar--info-name"></p>
  </div>

  <div class="product-bar--info">
    <i class="icon"></i>
    <p class="product-bar--info-group"></p>
  </div>
  <div class="product-bar--info">
    <i class="icon"></i>
    <p class="product-bar--info-description"></p>
  </div>
  <div class="product-bar--info">
    <i class="icon"></i>
    <p class="product-bar--info-manufacturer"></p>
  </div>
  <div class="product-bar--info">
    <i class="icon"></i>
    <p class="product-bar--info-measure"></p>
  </div>
  <div class="product-bar--info">
    <i class="icon"></i>
    <p class="product-bar--info-total-cost"></p>
  </div>
  <div class="product-bar--buttons">
    <button class="product-bar--buttons-edit">Edit</button>
    <button class="product-bar--buttons-delete">Delete</button>
  </div>



</form>
