<div class="header">
  <div class="header-storage">
    <a class="header-storage--name">storage</a>
  </div>
  <div class="header-storage">
    <a class="header-storage--menu">Products</a>
    <a class="header-storage--menu">Groups</a>
    <a class="header-storage--menu">Statistics</a>
    <a class="header-storage--menu">Manufacturers</a>
    <a class="header-storage--menu">Users</a>
    <a class="header-storage--menu">Roles</a>
    <a class="header-storage--menu">Permissions</a>
  </div>
  <div class="header-storage">
    <a class="storage-storage--username">User.name</a>
  </div>
</div>



