<!-- ja -->
<div class="role-bar">
  <div class="role-bar-info">

    <div class="role-bar--name icon-with-label">
      <i class="role-name iconLabel--icon"></i>
      <p class="product-bar--name-label iconLabel--text">Role name</p>
    </div>

    <div class="role-bar--super-admin">
      <input type="checkbox" [hidden]="false">
      <p class="role-bar--super-admin-label iconLabel--text" [hidden]="false">Super Admin</p>
    </div>

    <div class="role-bar--total-user">
      <i class="role-user iconLabel--icon" [hidden]="false"></i>
      <p class="role-bar--total-user-label iconLabel--text" [hidden]="false">50</p>
    </div>

    <div class="role-bar--buttons">
      <button class="role-bar--buttons-info button b-aqua icon-button" [hidden]="false">Info</button>
      <button class="role-bar--buttons-edit button b-aqua icon-button" [hidden]="false">edit</button>
      <button class="role-bar--buttons-agree button b-aqua icon-button" [hidden]="true">Agree</button>
      <button class="role-bar--buttons-delete button b-red icon-button" [hidden]="false">delete</button>
      <button class="role-bar--buttons-cancel button b-red icon-button" [hidden]="true">Cancel</button>
    </div>

  </div>
</div>


