<div class="role-permission">
  <div class="role-permission-info">

    <div class="role-permission-name">
      <i class="ro-permission iconLabel--icon" [hidden]="false"></i>
      <p class="role-permission--name-info iconLabel--text" [hidden]="false">Name</p>
      <select [hidden]="true"></select>
    </div>

    <div class="role-permission--buttons">
      <button class="role-permission--buttons-delete button b-red icon-button" [hidden]="false">delete</button>
      <button class="role-permission--buttons-agree button b-red icon-button" [hidden]="true">Agree</button>
      <button class="role-permission--buttons-cancel button b-red icon-button" [hidden]="true">Cancel</button>
    </div>

  </div>
</div>
