<!--<div class="role-permission">-->
<!--  <div class="role-permission-info">-->

<!--    <div class="role-permission-name">-->
<!--      <i class="ro-permission iconLabel&#45;&#45;icon" [hidden]="false"></i>-->
<!--      <p class="role-permission&#45;&#45;name-info iconLabel&#45;&#45;text" [hidden]="false">Name</p>-->
<!--      <select [hidden]="true"></select>-->
<!--    </div>-->

<!--    <div class="role-permission&#45;&#45;buttons">-->
<!--      <button class="role-permission&#45;&#45;buttons-delete button b-red icon-button" [hidden]="false">delete</button>-->
<!--      <button class="role-permission&#45;&#45;buttons-agree button b-red icon-button" [hidden]="true">Agree</button>-->
<!--      <button class="role-permission&#45;&#45;buttons-cancel button b-red icon-button" [hidden]="true">Cancel</button>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->


<div class="permission">
  <div class="permission--name">
    <span [hidden]="false"><img src="assets/images/icon.png"></span>
    <span [hidden]="false">add_manufacturers</span>
    <input type="checkbox" [hidden]="true" />
  </div>
  <div class="permission--buttons">
    <input class="" type="button" [hidden]="false" value="Delete">
    <input class="" type="button" [hidden]="true" value="Agree">
    <input class="" type="button" [hidden]="true" value="Cancel">
  </div>
</div>
