<!-- ja -->
<div class="permission-bar">
  <div class="permission-bar-info">

    <div class="permission-bar--name icon-with-label">
      <i class="permission-name iconLabel--icon" [hidden]="false"></i>
      <p class="permission-bar--name-label iconLabel--text" [hidden]="false">Permission name</p>
    </div>

    <div class="permission-bar-super-permission">
      <input type="checkbox" [hidden]="false">
      <p class="permission-bar--name iconLabel--text" [hidden]="false">Super permission</p>
    </div>

    <div class="permission-bar-members">
      <i class="permission-members-num iconLabel--icon" [hidden]="false"></i>
      <p class="permission-bar--members-num iconLabel--text" [hidden]="false">45</p>
    </div>

    <div class="permission-bar--buttons">
      <button class="permission-bar--buttons-info button b-aqua icon-button" [hidden]="false">Info</button>
      <button class="permission-bar--buttons-edit button b-aqua icon-button" [hidden]="false">Edit</button>
      <button class="permission-bar--buttons-agree button b-aqua icon-button" [hidden]="true">Agree</button>
      <button class="permission-bar--buttons-delete button b-red icon-button" [hidden]="false">Delete</button>
      <button class="permission-bar--buttons-cancel button b-red icon-button" [hidden]="true">cancel</button>
    </div>

  </div>
</div>


