<div class="permission">
  <div class="permission--name">
    <span [hidden]="false"><img src="assets/images/icon.png"></span>
    <span [hidden]="false">add_user</span>
  </div>

  <div class="permission--super">
    <input type="checkbox" [hidden]="false"/>
    <span [hidden]="false"></span>
    <span [hidden]="false">Super permission</span>
  </div>

</div>

<!--&lt;!&ndash; ja &ndash;&gt;-->
<!--<div class="permission-bar">-->
<!--  <div class="permission-bar-info">-->

<!--    <div class="permission-bar&#45;&#45;name icon-with-label">-->
<!--      <i class="permission-name iconLabel&#45;&#45;icon" [hidden]="false"></i>-->
<!--      <p class="permission-bar&#45;&#45;name-label iconLabel&#45;&#45;text" [hidden]="false">Permission name</p>-->
<!--    </div>-->

<!--    <div class="permission-bar-super-permission">-->
<!--      <input type="checkbox" [hidden]="false">-->
<!--      <p class="permission-bar&#45;&#45;name iconLabel&#45;&#45;text" [hidden]="false">Super permission</p>-->
<!--    </div>-->

<!--    <div class="permission-bar-members">-->
<!--      <i class="permission-members-num iconLabel&#45;&#45;icon" [hidden]="false"></i>-->
<!--      <p class="permission-bar&#45;&#45;members-num iconLabel&#45;&#45;text" [hidden]="false">45</p>-->
<!--    </div>-->

<!--    <div class="permission-bar&#45;&#45;buttons">-->
<!--      <button class="permission-bar&#45;&#45;buttons-info button b-aqua icon-button" [hidden]="false">Info</button>-->
<!--      <button class="permission-bar&#45;&#45;buttons-edit button b-aqua icon-button" [hidden]="false">Edit</button>-->
<!--      <button class="permission-bar&#45;&#45;buttons-agree button b-aqua icon-button" [hidden]="true">Agree</button>-->
<!--      <button class="permission-bar&#45;&#45;buttons-delete button b-red icon-button" [hidden]="false">Delete</button>-->
<!--      <button class="permission-bar&#45;&#45;buttons-cancel button b-red icon-button" [hidden]="true">cancel</button>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->





