.group {
  border: solid 1px;
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;

  &--name,
  &--info,
  &--button {
    display: inline;
    border: dashed aqua 2px;
  }

  &--name {
    text-align: left;
  }

  &--info {
    text-align: center;
  }

  &--button {
    text-align: right;
  }
}
