<div class="product-group-bar">
  <div class="product-group-bar-info">
    <div class="product-group-bar--name-label icon-with-label">
      <i class="prod-group-name iconLabel--icon"></i>
      <p class="product-group-bar--name iconLabel--text">Group name</p>
    </div>

    <div>

      <div>
        <i class="prod-group-value iconLabel--icon"></i>
        <p class="product-group-bar--amount iconLabel--text">Amount</p>
      </div>

      <div>
        <i class="prod-group-total-cost iconLabel--icon"></i>
        <p class="product-group-bar--total-cost iconLabel--text">Total Cost</p>
      </div>

    </div>

    <div class="product-group-bar--buttons">
      <button class="product-group-bar--edit button b-aqua icon-button">edit</button>
      <button class="product-group-bar--delete button b-red icon-button">delete</button>
    </div>
  </div>
</div>


