<!--<div class="product-group-bar">-->
<!--  <div class="product-group-bar-info">-->
<!--    <div class="product-group-bar&#45;&#45;name-label icon-with-label">-->
<!--      <i class="prod-group-name iconLabel&#45;&#45;icon"></i>-->
<!--      <p class="product-group-bar&#45;&#45;name iconLabel&#45;&#45;text">Group name</p>-->
<!--    </div>-->

<!--    <div>-->

<!--      <div>-->
<!--        <i class="prod-group-value iconLabel&#45;&#45;icon"></i>-->
<!--        <p class="product-group-bar&#45;&#45;amount iconLabel&#45;&#45;text">Amount</p>-->
<!--      </div>-->

<!--      <div>-->
<!--        <i class="prod-group-total-cost iconLabel&#45;&#45;icon"></i>-->
<!--        <p class="product-group-bar&#45;&#45;total-cost iconLabel&#45;&#45;text">Total Cost</p>-->
<!--      </div>-->

<!--    </div>-->

<!--    <div class="product-group-bar&#45;&#45;buttons">-->
<!--      <button class="product-group-bar&#45;&#45;edit button b-aqua icon-button">edit</button>-->
<!--      <button class="product-group-bar&#45;&#45;delete button b-red icon-button">delete</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="group">
  <div class="group--name">
    <span [hidden]="false"><img src="assets/images/icon.png"></span>
    <span [hidden]="false">Продовольчі товари</span>
  </div>
  <div class="group--info">
    <span [hidden]="false"><img src="assets/images/icon.png"></span>
    <span [hidden]="false">33</span>
    <span [hidden]="false"><img src="assets/images/icon.png"></span>
    <span [hidden]="false">4059</span>
  </div>
  <div class="group--button">
    <input type="button" value="INFO"/>
  </div>

</div>
