<!-- ga -->
<div class="user-bar">
  <div class="user-bar-info">
    <div class="user-bar--name-label icon-with-label">
      <i class="ma-user iconLabel--icon"></i>
      <p class="user-bar--name iconLabel--text">Name</p>
    </div>
    <div>
      <i class="us-role iconLabel--icon"></i>
      <p class="user-bar--loader iconLabel--text">Role</p>
    </div>
    <div>
      <i class="us-password iconLabel--icon"></i>
      <p class="user-bar--password iconLabel--text">Password</p>
    </div>
    <div class="user-bar--buttons">
      <button class="user-bar--edit button b-aqua icon-button">edit</button>
      <button class="user-bar--buttons-delete button b-red icon-button">delete</button>
    </div>
  </div>
</div>


