<form class="form-add-product">

  <div class="form-add-product--name">
    <i class="icon"></i>
    <input type="text">
  </div>

  <div class="form-add-product--description">
    <i class="icon"></i>
    <textarea></textarea>
  </div>

  <div class="form-add-product--measure">
    <i class="icon"></i>
    <input type="checkbox">
  </div>

  <div class="form-add-product--manufacture">
    <i class="icon"></i>
    <input type="checkbox">
  </div>

  <div class="form-add-product--group">
    <i class="icon"></i>
    <input type="checkbox">
  </div>

  <div class="form-add-product--amount">
    <i class="icon"></i>
    <input type="text">
  </div>

  <div class="form-add-product--cost">
    <i class="icon"></i>
    <input type="text">
  </div>

  <div class="form-add--buttons">
    <button class="form-add--buttons-cancel">Cancel</button>
    <button class="form-add--buttons-add">Add</button>

  </div>

</form>
