<div>
  <h2>Форма додавання товару</h2>
  <fieldset>
    <form>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <textarea></textarea>
      </div>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <select></select>
      </div>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <select></select>
      </div>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <select></select>
      </div>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>
      <div>
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>
      <div>
        <input type="button" value="CANCEL"/>
        <input type="button" value="ADD"/>
      </div>
    </form>
  </fieldset>
</div>
