<div class="product-form">
  <h2>Форма додавання товару</h2>
  <fieldset>
    <form>

      <div class="product-form--name">
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>

      <div class="product-form--description">
        <span><img src="assets/images/icon.png"/></span>
        <textarea></textarea>
      </div>

      <div class="product-form--measure">
        <span><img src="assets/images/icon.png"/></span>
        <select></select>
      </div>

      <div class="product-form--manufacturer">
        <span><img src="assets/images/icon.png"/></span>
        <select></select>
      </div>

      <div class="product-form--group">
        <span><img src="assets/images/icon.png"/></span>
        <select></select>
      </div>

      <div class="product-form--amount">
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>

      <div class="product-form--price">
        <span><img src="assets/images/icon.png"/></span>
        <input type="text"/>
      </div>

      <div class="product-form--buttons">
        <input type="button" value="CANCEL"/>
        <input type="button" value="ADD"/>
      </div>

    </form>
  </fieldset>
</div>
