<div class="product-bar">
  <div class="product-bar-info">
    <!--icon + productName-->
    <div class="product-bar--name icon-with-label">
      <i class="prod-name iconLabel--icon"></i>
      <p class="product-bar--name-label iconLabel--text">Group name</p>
    </div>
    <!--icon + groupName-->
    <div class="product-bar--group-name">
      <i class="prod-gr-name iconLabel--icon"></i>
      <p class="product-bar--group-name-label iconLabel--text">Group name</p>
    </div>
    <!--icon + amount | icon + cost | icon + totalCost-->
    <div>

      <div class="product-bar--amount">
        <i class="prod-amount iconLabel--icon"></i>
        <p class="product-bar--amount-label iconLabel--text">Amount</p>
      </div>

      <div class="product-bar--cost">
        <i class="prod-amount iconLabel--icon"></i>
        <p class="product-bar--cost-label iconLabel--text">Amount</p>
      </div>

      <div>
        <i class="prod-total-cost iconLabel--icon"></i>
        <p class="product-bar--total-cost iconLabel--text">Total Cost</p>
      </div>

    </div>
    <!--btnInfo-->
    <div class="product-bar--buttons">
      <button class="product-bar--edit button b-aqua icon-button">edit</button>
      <button class="product-bar--delete button b-red icon-button">delete</button>
    </div>
  </div>
</div>


